.comments {
  padding: 1rem;
}

.comments__title {
  margin-block: 1.5rem;
}

.comments__controls {
  background-color:rgb(250, 250, 250);
  gap:0.5rem;
  border-bottom: 1px solid rgb(207, 207, 207);
  padding: 1rem;
}

.comments__button {
  background-color:rgb(87, 87, 87);
  color: rgb(250, 250, 250);
  padding: 1rem;
  border-radius: 0.75em;
}

.comments__button:hover {
  background-color:rgb(105, 105, 105);
}

form {
  display:flex;
  gap: 1rem;
  justify-content: center;
  align-items: baseline;
}

.input__submit {
  background-color:rgb(87, 87, 87);
  color: rgb(250, 250, 250);
  padding: 1rem;
  border-radius: 0.75em;
}

.input__submit :hover {
  background-color:rgb(116, 116, 116);
}

.input__text {
  flex-grow: 1;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid rgb(184, 184, 184);
}
