<div
  class="detail__container"
  *ngIf="spot"
>

  <section class="detail">
    <header class="detail__header">
      <h2 class="spot__title">{{spot.name}}</h2>
      <p class="spot__description">{{spot.description}}</p>
    </header>
    <main class="detail__content">
      <div class="spot__tags">
        <ul class="spot__tag-list">
          <app-tag
            *ngFor="let tag of spot.tagList"
            [tagName]="tag"
          ></app-tag>
        </ul>
      </div>
      <div class="spot__infos">
        <p class="spot__info"><span class="spot__category">Date d'ajout: </span>{{spot.date}}</p>
        <p class="spot__info"><span class="spot__category">Ajouté par: </span>{{spot.username}}</p>
      </div>
    </main>
  </section>
  <app-comment-list [comments]="spot.commentList"></app-comment-list>


</div>