<div class="add-spot-container">

  <h2>Ajouter un spot</h2>
  <section class="add-spot__form">
    <form
      #form="ngForm"
      (ngSubmit)="onClickSubmit(form)"
    >
      <fieldset>
        <legend class="spot__coordinates hidden">Coordonnées</legend>
        <label
          for="lat"
          class="spot__label"
        >Latitude</label>
        <input
          type="number"
          name="lat"
          id="lat"
          class="spot__input"
          [(ngModel)]="lat"
        >
        <label
          for="long"
          class="spot__label"
        >Longitude</label>
        <input
          type="number"
          name="long"
          id="long"
          class="spot__input"
          [(ngModel)]="long"
        >
      </fieldset>
      <fieldset>
        <legend class="add-spot__details hidden">Informations</legend>

        <label
          for="name"
          class="spot__label"
        >Nom</label>
        <input
          type="text"
          name="name"
          id="name"
          class="spot__label"
          ngModel
        >
        <label
          for="description"
          class="spot__label"
        >Description</label>
        <textarea
          name="description"
          id="description"
          rows="5"
          class="spot__textarea"
          ngModel
        ></textarea>
        <label
          for="tags"
          class="spot__label"
        >Tags
          <label
            class="tag__label"
            for="tag-art"
          ><input
              type="checkbox"
              id="tag-art"
              name="art"
              ngModel
            ><app-tag tagName="Art"></app-tag></label>
          <label
            class="tag__label"
            for="tag-monument"
          ><input
              class="tag__input"
              type="checkbox"
              id="tag-monument"
              name="monument"
              ngModel
            ><app-tag tagName="Monument"></app-tag></label>
          <label
            for="tag-nature"
            class="tag__label"
          ><input
              type="checkbox"
              class="tag__input"
              id="tag-nature"
              name="nature"
              ngModel
            ><app-tag tagName="Nature"></app-tag></label>
          <label
            for="tag-curiosite"
            class="tag__label"
          ><input
              type="checkbox"
              class="tag__input"
              id="tag-curiosite"
              name="curiosite"
              ngModel
            ><app-tag tagName="Curiosité"></app-tag></label>
          <label
            for="tag-autre"
            class="tag__label"
          ><input
              type="checkbox"
              class="tag__input"
              id="tag-autre"
              name="autre"
              ngModel
            ><app-tag tagName="Autre"></app-tag></label></label>
      </fieldset>
      <div class="form__controls">
        <input
          type="submit"
          class="add-spot__submit"
          value="Ajouter"
        >
        <button
          type="button"
          class="add-spot__cancel"
          value="Cancel"
          (click)="onClickCancel()"
        >Annuler</button>
      </div>

    </form>

  </section>

</div>